################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/bin
/src/obj
*.user
/packages
/src/EFCoreViewer/bin
/src/EFCoreViewer/obj
/src/IQueryableObjectSource/bin
/src/IQueryableObjectSource/obj
/test/EFCoreViewer.Test.Shared/bin
/test/EFCoreViewer.Test.Shared/obj
/test/EFCoreViewer.Test.Net48/bin
/test/EFCoreViewer.Test.Net48/obj
/test/EFCoreViewer.Test.Net48/.vs
/test/EFCoreViewer.Test.Net8/bin
/test/EFCoreViewer.Test.Net8/obj